@import '../styles/include-media';

#chartA .text-label {

  @include media(">=phone", "<=tablet") {
    font-size: 36px !important;

    &:nth-child(7) {
      transform: translate(15px, 0px) !important;
    }

    &:nth-child(10) {
      transform: translate(-40px, 0) !important;
    }

    &:last-child {
      transform: translate(-10px, -140px) !important;
    }
  }

}
