@import '../styles/variables';

  .bars {
    background-color: #e0e0e0;
  }

  .bars button {
    background: #222222;
  }

  svg g rect, svg g circle {
    cursor: pointer;
  }

  .tool-tip {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid black;
    opacity: 0;
    background-color: white;
    padding: 10px;
    color: black;
  }

  .button-group{
    width: fit-content;
  }

  .tags button{
    padding: 5px 10px;
    margin: 0 10px;
    display: inline-block;
  }
