.dotchart, .linechart {
    &__container {
        display: flex;
        flex-direction: column;
        height:100%;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        &__buttons{
            display: flex;
            justify-content: space-between;
          }
        &__text {
            &__title {
                color: #222;
                display:flex;
                align-items: center;
                & span{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 30px;
                    background-color: #222;
                }
            }
        }


    }  
}

button {
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    color: #1B492E;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.wrapper {
    position: relative;
    align-self: center;
    width: 100%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
  }

  .legend-wrapper {
      margin-top: 25px;
      width: 100%;
      flex-flow: wrap;
  }

  .legend-wrapper, .legend {
    display: flex;
  }

  .legend {
    margin-right: 15px;
    margin-bottom: 8px;
    align-items: center;
  }

  .legend p {
      margin: 0 0 0 8px;
      width: max-content;
  }

  .tool-tip{
      position: absolute;
      top:0;
      left:0;
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
  