.dotchart, .linechart {
    position: sticky;
    top: 0;
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        &__buttons{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            button {
                font-size: 20px;
                font-weight: bold;
                color: #1B492E;
                padding: 5px 10px;
                border-radius: 20px;
                border-style: none;
                margin-right: 10px;
                cursor: pointer;
            }
            button.active {
                color: #FFF;
                background-color: #1B492E;
            }            
          }
        &__text {
            &__title {
                color: #222;
                display:flex;
                align-items: center;
                &:before {
                    content: '';
                    position: absolute;
                    left: -70px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: black;
                  }
            }
        }


    }  
}


.wrapper {
    position: relative;
    align-self: center;
    width: 100%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
  }

  .legend-wrapper {
      box-sizing: border-box;
      padding-bottom: 20px;
      width: 100%;
      flex-flow: wrap;
  }

  .legend-wrapper, .legend {
    display: flex;
  }

  .legend {
    margin-right: 15px;
    margin-bottom: 8px;
    align-items: center;
  }

  .legend p {
      margin: 0 0 0 8px;
      width: max-content;
  }

  .tool-tip{
      position: absolute;
      top:0;
      left:0;
  }
  
  .description {
    margin-left: 0.8rem;
    overflow: auto;
    z-index: 1000;
  }

  .text-block {
    box-sizing: border-box;
    margin-bottom: 30rem;
    border: 1px solid gray;
    width: 15%;
    padding: 0.8rem 0.3rem;
  }