@import '../styles/include-media';
@import '../styles/variables';

.cover {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: $yellow;
  position: relative;

  @include media(">=phone", "<=tablet") {
    height: 136vh;
    padding: 0 20px;
    padding-top: 60px;
  }

  // @media only screen
  // and (device-width : 375px)
  // and (device-height : 812px)
  // and (-webkit-device-pixel-ratio : 3) {
  //   height: 100vh;
  //   padding: 0 20px;
  //   padding-top: 60px;
  // }

  // @media only screen
  // and (device-width : 375px)
  // and (device-height : 667px)
  // and (-webkit-device-pixel-ratio : 2) {
  //   height: 130vh;
  //   padding: 0 20px;
  //   padding-top: 60px;
  // }

  &__text {
    width: 60%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;

    @include media(">=phone", "<=tablet") {
      width: 100%;
    }

    &__subtitle {
      display: flex;
      align-items: center;
      font-size: 36px;
      font-weight: 900;
      margin-bottom: 0;
      color: $blue;

      &__circle {
        font-size: 95px;

        @include media(">=phone", "<=tablet") {
          font-size: 18px;
        }
      }

      @include media(">=phone", "<=tablet") {
        font-size: 18px;
      }
    }

    &__title {
      font-size: 60px;
      font-weight: 900;
      line-height: 1.2;
      letter-spacing: -6px;
      margin-top: .2em;
      margin-bottom: .4em;
      color: $blue;

      @include media(">=phone", "<=tablet") {
        font-size: 24px;
        letter-spacing: -1px;
        margin-bottom: 0;
      }
    }

    &__content {
      font-size: 16px;
      line-height: 1.6;
      color: black;

      @include media(">=phone", "<=tablet") {
      }
    }
  }

  &__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    width: 80vw;
    // height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  &__control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include media(">=phone", "<=tablet") {
    }


    &__dropdown_icon {
      width: 64px;
      align-self: center;
      margin: 0 auto;
      @include media(">=phone", "<=tablet") {
        width: 36px;
        margin: 0;
      }
    }

    &__info_icon {
      width: 64px;
      cursor: pointer;

      @include media(">=phone", "<=tablet") {
        margin-bottom: 20px;
        width: 56px;
      }
    }

    .bounce {
      animation-iteration-count: infinite;
      animation-duration: 1.5s;
      animation: bounce 3.6s ease infinite;
      transform-origin: 50% 50%;
    }

    @keyframes bounce {
      0% {
        transform: translateY(0);
      }

      5.55556% {
        transform: translateY(0);
      }

      11.11111% {
        transform: translateY(0);
      }

      22.22222% {
        transform: translateY(-15px);
      }

      27.77778% {
        transform: translateY(0);
      }

      33.33333% {
        transform: translateY(-15px);
      }

      44.44444% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(0);
      }
    }
  }

  .scroll_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;
  }
}
