@import '../styles/variables';

.dotchart {
    &__header {
        flex-direction: column;
        &__buttons{
            // margin-top: 28px;
            justify-content: flex-start;
          }
    }  
}

.dot001 {

    .legend .legend-circle {
        border-radius: 50%;
        width: 22px;
        height: 22px;
    }

    .text-block {
        height: 2rem;
        border: none;
      }

}