.intro1 {
  background-color: #ddd5ac;
  color : #1e663b;
  strong {
    background-image: linear-gradient(120deg, #ef9b7d 0%, #ef9b7d 100%);
  }
  .title:before, .tag.active, .dotchart__header__title:before {
    background-color: #1e663b;
  }
  .dotchart__header__title{
    color : #1e663b;
  }
  .tag {
    background-color: #E6E6E6;
  }
  .text-block {
    color: black;
  }
  
}

.intro2 {
  background-color: #282828;
  color: #ef8a2e;
  strong {
    background-image: linear-gradient(120deg, #27a4e2 0%, #27a4e2 100%);
  }
  .title:before, .tag.active {
    background-color: #ef8a2e;
  }
  .tag {
    background-color: #000000;
  }
}

.intro3 {
  background-color: #b5f4f4;
  color: #680447;
  strong {
    background-image: linear-gradient(120deg, #b54896 0%, #b54896 100%);
  }
  .title:before, .tag.active {
    background-color: #680447;
  }
  .tag {
    background-color: #93D8D6;
  }
}

.intro4 {
  background-color: #112b5e;
  color: #0ed8c9;
  strong {
    background-image: linear-gradient(120deg, #ea497b 0%, #ea497b 100%);
  }
  .title:before, .tag.active {
    background-color: #0ed8c9;
  }
  .tag {
    background-color: #171E35;
  }
}

.intro5 {
  background-color: #E0E0E0;
  color: #222222;
  strong {
    background-image: linear-gradient(120deg, #E2BE27 0%, #E2BE27 100%);
  }
  .title:before {
    background-color: #222222;
  }
  .text-block {
    color: black;
  }
  .intro__content {
    padding-top: 200px;
  }
}

.description{
  overflow: auto;
}

h1.title {
  font-size:30px;
}