@import '../styles/variables';

  .x-axis path, 
  .x-axis line,
  .y-axis path,
  .y-axis line
  {
    stroke: $black;
  }

  .x-axis text, 
  .y-axis text
  {
      fill: black;
  }

  path {
      stroke: #AF9309;
  }

  .description {
    margin-left: 0.8rem;
    overflow: auto;
    z-index: 1000;
  }

  .text-block {
    box-sizing: border-box;
    margin-bottom: 30rem;
    border: 1px solid gray;
    width: 15%;
    padding: 0.8rem 0.3rem;
  }