@import '../styles/variables';

.popup-content{
    background: none !important;
    border: none !important;
    width: auto !important;
}

a.close {
    color: $white;
    background: $black;
    font-size: 32px;
    cursor: pointer;
    justify-self: end;
    padding-right: 14px;
}

.modal {
    box-sizing: border-box;
    background-color: $black;
    display: grid;
    width: 375px;
    // height: 595px;
    padding-left: 21px;
    &__content{
        color: $yellow;
        display: flex;
        &__title,  &__text{
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            line-height: 30px;
        }
        &__sub{
            display: flex;
            margin-bottom: 45px;
            &__title, &__text{
                font-size: 18px;
                margin: 0;
                line-height: 30px;
            }
            &__title{
                width: 96px;
                font-weight: 400;
            }
            &__text{
                padding-left: 12px;
                display: flex;
                flex-flow: column wrap;
            }
        }
    }
}

.modal__content:last-child{
    display: flex;
    flex-direction: column;
}