@import '../styles/variables';
@import '../Styles/include-media';

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;

  &__title,
  &__content {
    max-width: 800px;
    z-index: 1000;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__content {
    position: relative;
    padding-bottom: 200px;
    width: 80%;
    font-size: 18px;
    line-height: 1.6;
    margin: 0 auto;
    letter-spacing: 0.1em;
    @include media(">=phone", "<=tablet") {
      font-size: 16px;
      width: 80%;
    }
  }
}
