@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap');

// Vendor
@import './styles/include-media';
@import './styles/variables';

.App, body, html {
  height: 100%;
  background-color: $light-grey;
  color: $black;
  font-family: "Helvetica Neue", "Helvetica", 'Noto Sans TC', "PingFang SC", "Lantinghei SC", "Arial", sans-serif;
}

#root {
  height: 100%;
}

.section {
  padding: 50px 70px;
  margin: 0 auto;
  max-width: 800px;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  @include media(">=phone", "<=tablet") {
    padding: 10px;
    max-width: 85%;
  }
}

p {
  line-height: 1.6;
}

strong {
  background-image: linear-gradient(120deg, #e2e2e2 0%, #e2e2e2 100%);
  background-repeat: no-repeat;
  background-size: 100% .6em;
  background-position: 50% 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 100%;
  }
}

.logo {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 40px;
  top: 30px;
  display: block;
  z-index: 99;
  img {
    width: 100%;
    pointer-events: none;
  }
  @include media(">=phone", "<=tablet") {
    width: 48px;
    height: 48px;
    left: 20px;
    top: 20px;
  }
}
